#product-area {
    margin-top: 100px;
}

#product-area .card img {
    width: 100%;
    filter: drop-shadow(0 0px 20px #0009);
    height: auto;
}

#product-area {
    display: inline-flex;
}

#product-area .card {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
}

#product-area .card h6 {
    font-weight: 500;
    font-size: large;
    color: black;
}

#product-area .card .price {
    letter-spacing: 7px;
    font-size: small;
}

#product-area .card button {
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

#cart-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#cart-shop span {
    display: flex;
    font-size: 50%;
    width: 50%;
    height: 30%;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    right: -10%;
}

#cart-shop :active {
    opacity: 0;
}

@media only screen and (max-width: 1023px) {
    .navbar-brand {
        display: none;
        width: auto;
    }

    .navbar-toggler {
        position: fixed;
        z-index: 99;
    }

    #product-area {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}